APP_TITLE=title
DESCRIPTION=description
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=Somethings
FIRST_SUPERUSER_EMAIL=example@example.com
FIRST_SUPERUSER_PASSWORD=123456
EMAIL = example@example.com
TYPE = service_account
PROJECT_ID = example_project
PRIVATE_KEY_ID = keyid
PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\somelargekey\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL = email
CLIENT_ID = client_id
AUTH_URI = https://accounts.google.com/o/oauth2/auth
TOKEN_URI = https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL = https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL = https://www.googleapis.com/robot/v1/metadata/x509/project_id